.footer {
    background-color: rgba(255, 0, 0, 0.6);
    padding: 30px;
    text-align: center;
}

.letter {
    color: white;
    line-height: 0.4;
    margin-bottom: 1%;
}

.icons {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-around;
}

i {
    color: white;
}