.content {
    margin-top: 1%;
    text-align: center;
    justify-content: center;
}

.header {
    background: url(../../../assets/logo-removebg.png) center center / contain no-repeat;
    background-size: 8rem;
    height: 8rem;
    width: 100% !important;
}

.div {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-danger-shade);
    -webkit-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-danger-shade);
    -moz-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-danger-shade);
    border-radius: 10%;
    padding: 2rem;
    background-color: var(--cds-alias-status-danger-tint);
}

.description {
    width: 250px;
    height: 100px;
}