.content {
    margin-top: 1%;
    text-align: center;
    justify-content: center;
}

.div {
    background-color: var(--cds-alias-status-danger-tint);
    width: 15rem;
    height: 12rem;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-danger-shade);
    -webkit-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-danger-shade);
    -moz-box-shadow: .2rem .2rem .5rem 0rem var(--cds-alias-status-danger-shade);
}

.description {
    width: 250px;
    height: 100px;
}